version: '2'
services:
  kafka-rest-service:
    image: kafka/rest-service
    build: ./kafka-rest-service
    hostname: kafka-rest-service
    container_name: kafka-rest-service
    ports:
      - 8080:80
    volumes:
      - ./kafka-rest-service/appcfg:/appcfg
      - ./kafka-rest-service/src:/app
    environment:
      CCLOUD_BROKER_URL: $CCLOUD_BROKER_URL
      CCLOUD_API_KEY: $CCLOUD_API_KEY
      CCLOUD_API_SECRET: $CCLOUD_API_SECRET
 